* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0;
}

.reset-password-form {
  width: 851px;
  background: rgba(255, 255, 255, 1) no-repeat center center / cover;
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.dlmk {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.new-password,
.confirm-password {
  width: 100%;
  height: 38px;
  color: rgba(117, 117, 117, 1);
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  padding-left: 11px;
  line-height: 38px;
  border: 0.1px solid #d3d3d3;
  outline: none;
  margin-bottom: 20px;
}

.reset-password-button {
  width: 100%;
  height: 55px;
  background: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 55px;
  border: none;
  cursor: pointer;
}

label {
  position: absolute;
  left: 10px;
  top: 110px;
  color: gray;
  font-family: Inter;
  font-weight: 400;
  font-size: 10px;
  visibility: hidden;
  background-color: white;
  padding: 0 5px;
}

input[type="password"]:not(:placeholder-shown) + label {
  left: 12px;
  font-size: 12px;
  color: rgba(100, 100, 100, 1);
  visibility: visible;
  transition: all 0.2s ease;
}

.label-new-password {
  top: 60px;
}

.label-confirm-password {
  top: 117px;
}