* {
  box-sizing: border-box;
}
body, html {
  height: 100%; 
  margin: 0; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #f0f0f0;
  font-size: 18px;
}

.email:focus,
.password:focus{
  border: 0.01px solid gray;
}

/* vị trí form đăng nhập */
.login-form {
  width: 628px;
  /* height:630px; */
  background: rgba(245,245,245,1);
  padding: 50px 0px;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 717px;
  overflow: hidden;
  
}


/* đăng nhập */
.v6_634 {
  width: 425px;
  height: 56px;
  background: rgb(245, 245, 245) no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  overflow: hidden;
  color: rgba(30,30,30,1);
  font-family: Inter;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.input-info-login {
  width: 426px;
  height: 525px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 101px;
  overflow: hidden;
}


/* số điện thoại/email */
.email {
  width: 426px;
  height: 48px;
  background: rgba(255, 255, 255, 1)  no-repeat center center;
  background-size: cover;
  padding: 9px 12px;
  top: 10px;
  position: relative;
  overflow: hidden;
  color: rgba(68, 68, 68, 1);
  font-family: Inter;
  font-weight: regular;
  font-size: 17px;
  text-align: left;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}

/* mật khẩu */
.password {
  width: 426px;
  height: 48px;
  background: rgba(255, 255, 255, 1);
  top: 30px;
  padding: 9px 12px;
  opacity: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: rgba(68, 68, 68, 1);
  font-family: Inter;
  font-weight: regular;
  font-size: 17px;
  border: none;
  outline: none;
}

.password-toggle {
  position: relative;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  color: rgb(146, 145, 145);
  cursor: pointer;
}

.password .password-input {
  flex: 1;
  color: rgba(68, 68, 68, 1);
  text-align: left;
  font-size: 17px;
}

.password .password-icon {
  width: 21px;
  height: 12px;
  background: rgba(30, 30, 30, 0.74);
  margin-left: auto;
}



/* lưu đăng nhập */
.remember-me {
  width: 426px;
  height: 40px;
  background-repeat: no-repeat center center;
  opacity: 1;
  position: relative;
  top: 40px;
  left: 0px;
}

/* vị trí chữ lưu đăng nhập */
.rmb-me-position {
  width: 150px;
  height: 20px;
  color: rgba(30,30,30,1);
  position: relative;
  top: 10px;
  left: 30px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  justify-content:center;
  overflow: hidden;
}

/* checkbox lưu đn */
.rmb-me-checkbox {
  width: 17px;
  height: 17px;
  background: rgba(255, 254, 254);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border: 0.5px solid rgba(30,30,30,1);
  overflow: hidden;
  appearance: none;
  justify-content:center;
}


.rmb-me-checkbox:checked {
  background: black; /* Nền đen khi được tick */
}

.rmb-me-checkbox:checked::before {
  content: "✔"; /* Dấu tick */
  display: block;
  color: white; /* Màu trắng cho dấu tick */
  font-size: 13px;
  text-align: center;
  line-height: 13px; /* Căn giữa dấu tick theo chiều dọc */
}

/* Vị trí và định dạng cho liên kết quên mật khẩu */
.forgot-password {
  width: 150px; /* Chiều rộng của khu vực chứa */
  height: 20px; /* Chiều cao của khu vực chứa */
  background: none; /* Hình nền */
  opacity: 1; /* Độ mờ */
  position:absolute; 
  top: 10px;
  left: 300px; /* Khoảng cách từ bên trái */
  overflow: hidden; /* Ẩn nội dung tràn ra ngoài */
  border: none;
  color: rgba(23, 22, 22, 1); /* Màu chữ */
  font-family: Inter; /* Font chữ */
  font-weight: Regular; /* Độ dày chữ */
  font-size: 15px; /* Kích thước chữ */
  text-align: left; /* Căn chỉnh chữ bên phải */
  line-height: 20px; /* Để căn chỉnh chiều cao của chữ */
  text-decoration: underline;
  justify-content: center;
}


/* button đăng nhập */
.v6_684 {
  width: 426px;
  height: 60px;
  background: rgba(30,30,30,1) no-repeat center center;
  background-size: cover;
  padding: 22px 167px;
  opacity: 1;
  position: relative;
  top: 70px;
  left: 0px;
  overflow: hidden;
}

/* hiện chữ đăng nhập */
.v6_685 {
  width: 113px;
  color: rgba(255,249,249,0.9900000095367432);
  position: absolute;
  top: 20px;
  left: 157px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  justify-items: center;
  text-align: center;
}



/* vị trí chưa có tài khoản */
.v11_11 {
  width: 426px;
  height: 50px;
  background: rgb(245, 245, 245) no-repeat center center;
  opacity: 1;
  padding: 18px;
  position: relative;
  top: 70px;
  left: 0px;
  overflow: hidden;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  justify-content: center;
}


.register-btn {
  width: 426px;
  height: 60px;
  background: rgba(255,255,255,1);
  padding: 22px 175px;
  opacity: 1;
  position: relative;
  top: 100px;
  left: 0px;
  overflow: hidden;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 1);
  justify-items: center;
}
















