* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Inter;
    font-weight: Regular;
  }
  
  .input-register:focus {
    border: 0.01px solid gray;
  }
  
  .forgot-password-2 {
    width: 513px;
    height: 380px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .label-form {
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 70px;
    font-family: Inter;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }
  
  .input-pin {
    width: 350px;
    position: absolute;
    top: 140px;
    background: rgba(255, 255, 255, 1);
    padding: 9px 12px;
    color: rgba(117, 117, 117, 1);
    font-family: Inter;
    font-size: 13px;
    border: 0.1px solid #d3d3d3;
  }

  .resend {
    width: 120px;
    height: 20px;
    background-color: rgba(255, 255, 255, 1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 190px;
    left: 305px;
    overflow: hidden;
    border: none;
    color: rgba(23, 22, 22, 1);
    font-family: Inter;
    font-weight: Regular;
    font-size: 13px;
    text-align: left;
    line-height: 20px;
    text-decoration: underline;
  }
  
  .confirm, .back {
    width: 350px;
    height: 50px;
    font-family: Inter;
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  
  .confirm {
    background: rgba(33, 33, 33, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    position: absolute;
    top: 220px;
  }
  
  .back {
    color: rgba(0, 0, 0, 1);
    background: none;
    font-weight: bold;
    position: absolute;
    top: 270px;
  }

  .a{
    position: absolute;
    top: 190px;
    left: 175px;
    overflow: hidden;
    border: none;
    color: rgba(23, 22, 22, 1);
    font-family: Inter;
    font-weight: Regular;
    font-size: 13px;
    text-align: left;
    line-height: 20px;
  }